@import "../../iconfont/iconfont.css";
@import "../../iconfont/index.scss";

.half-safe-area-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.half-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index);
    overflow: hidden;
}

.half-popup__container {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--height);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    overflow: hidden;
    background: var(--bg-color);
    transform-origin: bottom center;
    transform: translateY(100%);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.half-popup__container .half-popup-btn {
    position: absolute;
    padding: 18rpx;
    font-size: 34rpx;
    line-height: 1;
    color: var(--color);
}

.half-popup__container .half-popup-fullscreen-btn {
    right: 70rpx;
    top: 0;
}

.half-popup__container .half-popup-fullscreen-btn .__fullscreen-icon1 {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.half-popup__container .half-popup-fullscreen-btn .__fullscreen-icon1:before {
    content: "\e663";
}

.half-popup__container .half-popup-fullscreen-btn .__fullscreen-icon2 {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.half-popup__container .half-popup-fullscreen-btn .__fullscreen-icon2:before {
    content: "\e7a7";
}

.half-popup__container .half-popup-close-btn {
    right: 0;
    top: 0;
}

.half-popup__container .half-popup-close-btn .__close-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.half-popup__container .half-popup-close-btn .__close-icon:before {
    content: "\e6a5";
}
