@import "@buildingai/ui/styles/index.css";

html,
body {
  @apply h-full min-h-screen;
}

#root {
  @apply h-full min-h-screen;
}

.chat-scroll {
  @apply border-border;
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-ring) transparent;
}
