@import "@buildingai/ui/styles/index.css";

html,
body {
  @apply h-full min-h-screen;
}

#root {
  @apply h-full min-h-screen;
}

@utility h-inset {
  @apply h-[calc(100vh-1rem-4rem-0.25rem)] md:h-[calc(100vh-1rem-4rem-1rem-0.25rem)];
}

@utility center {
  @apply flex items-center justify-center;
}

@utility start {
  @apply flex items-center justify-start;
}

@utility end {
  @apply flex items-center justify-end;
}

.chat-scroll {
  @apply border-border;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.chat-scroll > div {
  overflow-y: scroll;
}
.chat-scroll:hover {
  scrollbar-color: var(--border) transparent;
}
