@import "@buildingai/ui/styles/index.css";

html,
body {
  @apply h-full min-h-screen;
}

#root {
  @apply h-full min-h-screen;
}

* {
  @apply border-border;
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar) transparent;

  &:hover {
    scrollbar-color: var(--sidebar-ring) transparent;
  }
}
