@import "@buildingai/ui/styles/index.css";

html,
body {
  @apply h-full min-h-screen;
}

#root {
  @apply h-full min-h-screen;
}

@utility h-inset {
  @apply h-[calc(100vh-1rem-4rem-0.25rem)] md:h-[calc(100vh-1rem-4rem-1rem-0.25rem)];
}

.chat-scroll {
  @apply border-border;
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar) transparent;

  &:hover {
    scrollbar-color: var(--sidebar-ring) transparent;
  }
}
