.button {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
}
