@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "./theme.css";

@source "../components";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark, .dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
  .disable-transitions,
  .disable-transitions *,
  .disable-transitions *::before,
  .disable-transitions *::after {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow,
      outline-color !important;
    transition-duration: 0s !important;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
