@import "@buildingai/ui/styles/index.css";
@import "./utils.css";

html,
body {
  @apply h-full min-h-screen;
}

#root {
  @apply h-full min-h-screen;
}

.chat-scroll {
  @apply border-border;
}

.chat-scroll > div:hover {
  scrollbar-color: var(--border) transparent;
}

.chat-scroll > div {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-gutter: stable;
}
