@import "@buildingai/ui/styles/index.css";
@import "./utils.css";

html,
body {
  @apply h-full min-h-dvh;
}

#root {
  @apply h-full min-h-dvh;
}

.chat-scroll {
  @apply border-border;
}

.chat-scroll > div:hover {
  scrollbar-color: var(--border) transparent;
}

.chat-scroll > div {
  @apply overflow-y-auto px-3 sm:pr-0;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-gutter: stable;
}

[data-streamdown="code-block"] {
  content-visibility: visible !important;
}
